<div class="empty-card">
  <img
    class="img-pokemon"
    src="/assets/pokeball.png"
    alt="Arrière-plan"
    class="background-image"
  />
  <div class="empty-card-content">Carte non possédée</div>
</div>
