<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Admin - Gestion des cartes Pokémon</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <%- include('partials/header') %>

    <section class="create-card">
      <h2>Créer une nouvelle carte Pokémon</h2>

      <form id="createCardForm" class="card">
        <div class="container-row">
          <div>
            <label for="name">Nom :</label>
            <input type="text" id="name" name="name" required />

            <label for="hp">PV :</label>
            <input type="number" id="hp" name="hp" required />

            <label for="type">Type :</label>
            <input type="text" id="type" name="type" required />

            <label for="image">Image URL :</label>
            <input type="url" id="image" name="image" required />

            <label for="rarity_level">Rareté :</label>
            <select id="rarity_level" name="rarity_level" required>
              <option value="0">Très Commun</option>
              <option value="1">Commun</option>
              <option value="2">Peu Commun</option>
              <option value="3">Rare</option>
              <option value="4">Très Rare</option>
            </select>
          </div>

          <div>
            <span>Attaque :</span>
            <label for="attack_name">Nom:</label>
            <input type="text" id="attack_name" name="attack_name" required />

            <label for="attack_power">Puissance:</label>
            <input
              type="number"
              id="attack_power"
              name="attack_power"
              required
            />

            <label for="description">Description:</label>
            <input id="description" name="description" required />
          </div>
        </div>
        <div class="btn-container">
          <button type="submit">Créer la carte</button>
        </div>
      </form>
    </section>

    <script src="/js/admin.js"></script>
  </body>
</html>
