body {
  font-family: Arial, sans-serif;
  text-align: center;
}
.pokemon-cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  width: 150px;
}
img {
  max-width: 100%;
  border-radius: 5px;
}

form {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
}
form label {
  display: block;
  margin: 10px 0 5px;
}
form input,
form button {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
form button {
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}
form button:hover {
  background-color: #0056b3;
}
