.create-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .card {
    max-width: 80%;
    padding: 40px;

    h3 {
      padding-bottom: 20px;
    }
  }
}

// Basic styling for the stepper and form
.stepper-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.step {
  display: none;
}

.step.active {
  display: block;
}

h3 {
  margin-bottom: 20px;
}

.btn-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.stepper-nav {
  display: flex;
  justify-content: space-between;
}

.stepper-nav button {
  width: 48%;
}

.stepper-nav .btn:last-child {
  background-color: #28a745;
}

.stepper-nav .btn:last-child:hover {
  background-color: #218838;
}

.stepper-nav .btn:disabled {
  background-color: #6c757d;
}

#submitBtn {
  background-color: #28a745;
  display: none;
  width: 100%;
  margin-top: 20px;
}

#submitBtn:hover {
  background-color: #218838;
}
