/* Variables de couleur inspirées de Pokémon */
:root {
  --primary-color: #ffcb05; /* Jaune Pikachu */
  --secondary-color: #3b4cca; /* Bleu Pokémon */
  --accent-color: #ff5959; /* Rouge Combat */
  --background-color: #f6f8fa; /* Gris clair */
  --text-color: #333; /* Texte principal */
  --header-color: #222; /* Couleur des titres */
  --table-border-color: #ddd; /* Bordure des tables */
  --form-border-color: #ddd; /* Bordure des formulaires */
  --card-border-color: #ccc; /* Bordure des cartes */
}
